<div class="header-tab" id="header_tab">
    <div class="swipe-tab swipe-tab_2 clear-fix">
        <a href="javascript:" class="{{tab_1_class}}" v-on:click="swipeTab(0)"></a>
        <a href="javascript:" class="{{tab_2_class}}" v-on:click="swipeTab(1)"></a>
        <i style="width: {{index_header_tab_width}}px;transition-duration: {{header_duration}}s; transform: translate3d({{header_position}}px, 0, 0)"></i>
    </div>
    <em class="header-user"></em>
    <em class="header-check-in"></em>
</div>