
<div class="shelf">
    <div class="index-top">
        <a href="/search">
            <div class="index-top__search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="book-list">
        <li>
            <a href="/book?id={{item.fiction_id}}">
                <div class="u-book">
                    <a>
                        <div class="book-cover">
                            <img alt="" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
                        </div>
                    </a>
                    <div class="info">
                        <h3 class="title">书名</h3>
                        <p class="author">
                            <span class="author">作者</span>
                        </p>
                        <p class="summary">
                            <span class="summary">简介</span>
                        </p>
                        <div class="list-book__wrap">
                            <p class="list-book__tag">标签</p>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>