<section class="index-bottom">
    <div class="index-recommend__header">
        <p class="index-recommend__title">
            精选专题 <i>热</i>
        </p>
    </div>
    <ul class="index-bottom__banner">
        <li>
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11621&_t=index.6.n.0&&from=main">
                <div>
                    <img src="/static/img/footer-banner.jpg" alt="">
                </div>
            </a>
        </li>
        <li>
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11574&_t=index.6.n.1&&from=main">
                <div>
                    <img src="/static/img/footer-banner2.jpg" alt="">
                </div>
            </a>
        </li>
    </ul>
    <a href="/free" class="channel-group__footer">更多精彩专题 &gt;&gt;</a>
</section>