<section class="index-top">
    <a href="/search">
        <div class="index-top__search">输入书名/作者/关键字</div>
    </a>
    <div class="index-top__slider">
        <div>
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11439&_t=index.0.sld.0&&from=main">
                <img src="/static/img/index-top-slider.jpg" alt="" class="index-top__search-cover">
            </a>
        </div>
    </div>
    <ul class="index-top__btn">
        <li>
            <a href="/male">
                <img src="/static/img/male.png" alt="" class="index-top__icon">
                <p class="index-top__des">男生</p>
            </a>
        </li>
        <li>
            <a href="/female">
                <img src="/static/img/female.png" alt="" class="index-top__icon">
                <p class="index-top__des">女生</p>
            </a>
        </li>
        <li>
            <a href="/category">
                <img src="/static/img/category.png" alt="" class="index-top__icon">
                <p class="index-top__des">分类</p>
            </a>
        </li>
        <li>
            <a href="/rank">
                <img src="/static/img/rank.png" alt="" class="index-top__icon">
                <p class="index-top__des">排行</p>
            </a>
        </li>
    </ul>
</section>